body {
    padding: 0;
    margin: 0;
    background: lightgray;
}

#generalContainer {
    height: 100vh;
    display: grid;
    gap: 1rem;

    grid-template:
    "nav aside header"  5rem
    "nav aside main"   auto
    "nav aside footer" 4rem /
    8rem 12rem  auto; 
}

.wrapper {
    border-radius: 1rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: right;
    border: .2rem solid #000;
    background: white;
}

header #pageImage {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

nav {
    grid-area: nav;
    border: 1rem solid blue;
    background: white;
}

.cocacola {
    border: 0.1rem solid brown;
}

.altura {
    /* height: 3rem; */
}

.vinotinto {
    border: 0.1rem solid black;
    /* height: 1rem; */
}

aside {
    grid-area: aside;
    border: 1rem solid green;
    background: white;
}

main {
    grid-area: main;
    background: white;
    display: flex;
}

#calc {
    margin: auto auto;
    padding: 1rem;
    background: #000;
    color: chartreuse;
    font-size: 3rem;
    border-radius: 1rem;
}

#calc:hover {
    background: rgb(32, 32, 139);
    color: #fff;
    cursor: pointer;
}

footer {
    grid-area: footer;
    border: 1rem solid gray;
    background: white;
}
